div.lh{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
}

input{
  border: 2px solid #000;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}

input:valid{
    border-color: aqua;
}

input:invalid{
    border-color: red;
}

table, tr, td, th {
  border: 1px solid black;
}

.lineheight{
  line-height: 1.5;
}

.white-text-with-blue-shadow{
  text-shadow: 1px 1px 2px black, 0 0 1em blue;
  color: white;
  font: 1.5em Georgia, serif;
}
